@{
    ViewData["Title"] = "Accueil";
}

<div class="jumbotron">
    <h1 class="text-center">Bienvenue !</h1>
    <img alt="garderie" class="img-responsive" src="~/images/garderie.jpg">
    <p class="lead text-center p-5">Veuillez-vous connecter pour accéder aux fonctionnalités de l'application.</p>
</div>
